---
import type { Hero, Media } from '@cms/payload-types';

const response = await fetch('http://localhost:3000/api/pages?where[slug][equals]=home&limit=1', {
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
	},
});

let heroBlock: Hero | null = null;

try {
	const data = await response.json();
	heroBlock = data?.docs?.[0]?.content?.find?.(block => block.blockType === 'Hero');
} catch (error) {
	console.error('Failed to fetch page:', error);
}

const heading = heroBlock?.heading;
const subheading = heroBlock?.subheading;
const cta = heroBlock?.cta;
// Prefer uploaded image, fallback to block default, then background asset
const imageUrl = `http://localhost:3000${(heroBlock?.image as Media)?.url}`;
const imageAlt = (heroBlock?.image as Media)?.alt;
---

<section
  class="relative flex items-center min-h-[60vh] md:min-h-[75vh] w-full overflow-hidden bg-gray-900"
>
  <img
    src={imageUrl}
    alt={imageAlt}
    class="absolute inset-0 w-full h-full object-cover object-center z-0 opacity-10"
    fetchpriority="high"
    loading="eager"
  />
  <div class="relative z-10 max-w-4xl px-8 py-20">
    <h1 class="text-4xl md:text-6xl font-extrabold text-white mb-4 drop-shadow-lg">
      {heading}
    </h1>
    {subheading && (
      <p class="text-2xl md:text-xl text-gray-100 mb-8 font-medium drop-shadow">
        {subheading}
      </p>
    )}
    <div class="flex justify-center">
      {cta?.label && cta?.url && (
        <a
          href={cta.url}
          class="inline-block bg-purple-300 border border-purple-950 text-purple-950 hover:bg-purple-950 hover:border-purple-400 hover:text-purple-400 font-semibold text-md rounded px-6 py-3 shadow transition duration-250"
        >
          {cta.label}
        </a>
      )}
    </div>
  </div>
  <div class="absolute inset-0 bg-gradient-to-b from-black/40 via-black/10 to-black/60 z-0"></div>
</section>